target/
.env
.idea/
*.iml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Eclipse #
.settings/
.classpath
.project

war/WEB-INF/appengine-generated/
war/WEB-INF/classes/
war/WEB-INF/lib/

#Webstorm
*\.idea\*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
war/.idea/modules.xml
war/.idea/war.iml
war/.idea/workspace.xml
apns-prod.p8
fara-prod.json
src/main/resources/files/
src/main/resources/static/allclasses-frame.html
src/main/resources/static/allclasses-noframe.html
src/main/resources/static/com/*
src/main/resources/static/constant-values.html
src/main/resources/static/deprecated-list.html
src/main/resources/static/help-doc.html
src/main/resources/static/index-all.html
src/main/resources/static/index.html
src/main/resources/static/jquery/
src/main/resources/static/member-search-index.js
src/main/resources/static/member-search-index.zip
src/main/resources/static/overview-frame.html
src/main/resources/static/overview-summary.html
src/main/resources/static/overview-tree.html
src/main/resources/static/package-list
src/main/resources/static/package-search-index.js
src/main/resources/static/package-search-index.zip
src/main/resources/static/resources/
src/main/resources/static/script.js
src/main/resources/static/search.js
src/main/resources/static/serialized-form.html
src/main/resources/static/stylesheet.css
src/main/resources/static/type-search-index.js
src/main/resources/static/type-search-index.zip
